body {
	background: #5f5f5f;
	color: #5f5f5f;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.smallfont {
	font: 10px Arial;
}

.topbar {
	display: block;
	background: white;
	color: #5f5f5f;
	font: bold 11px Arial;
	padding: 5px;
	width: 99.2%;
}

.topbar a {
	color: inherit;
	text-decoration: none;
	text-align: right;
}

.container {
	display: table;
	table-layout: fixed;
	background: white;
	color: gray;
	width: 99.9%;
	margin: 0px;
	border: 1px solid #D1D1D1;
	font: 13px Arial
}

.xtable {
	display: table;
	table-layout: auto;
	border-collapse: collapse;
	color: #3b4c6b;
	font: 14px Tahoma;
	width: 100%;
}

.xrowgroup {
	display: table-row-group;
	border: 1px solid #D0D0D0;
	border-top: none;
}

.xrow {
	display: table-row;
}

.xhead {
	display: table-cell;
	background: #5f5f5f;
	width: auto;
	color: white;
	padding: 3px;
	margin-left: 10px;
	margin-right: 10px;
}

.alt1 {
	display: table-cell;
	background: #F4F4F4;
	text-align: left;
	font: 16px Arial;
	color: gray;
	padding: 5px;
	width: auto;
}

.alt1:hover {
	background: #
}

.alt1 a {
	color: gray;
	text-decoration: none;
}

.head {
	caption-side: top;
	width: auto;
	background: gray url('./images/cat_bg.gif') repeat-x;
	padding: 5px;
	margin-bottom: 0px;
	font: bold 17px Arial;
	color: white;
	text-align: left;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
}

.foot {
	caption-side: bottom;
	width: auto;
	text-align: left;
	background: #5b5b5b;
	padding: 3px;
	font: bold 15px Arial;
	color: gray;
	width: auto;
}

.login {
	position: absolute;
	left: 30%;
	top: 30%;
	width: 40%;
	background: white;
	color: #5f5f5f;
	font: 14px Tahoma;
	padding: 10px;
	margin: auto;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.login-head {
	background: #5f5f5f;
	color: white;
	padding: 4px;
	font: bold 15px Arial;
}

.login-body {
	background: white;
	color: #5f5f5f;
	padding: 4px;
	font: bold 13px Arial;
	margin: 7px;
	text-align: center;
}

.login-input {
	background: white;
	border: 1px solid #5f5f5f;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3px;
	font: bold 13px Tahoma;
	color: #5f5f5f;
}

.login-input:hover {
	background: #F4F4F4;
}

.links {
	width: 100%;
	background: gray url('../images/cat_bg.gif') repeat-x;
	color: #F4F4F4;
	width: auto;
	font: bold 11px Arial;
	padding: 5px;
}

.links a {
	margin-left: 10px;
	color: white;
	font: bold 11px Arial;
	text-decoration: none;
	padding: 5px;
}

.links a:hover {
	background: #F4F4F4;
	color: #5f5f5f;
	padding-top: 2px;
}

.footer {
	background: #5f5f5f;
	color: white;
	font: 11px Arial;
	padding: 3px;
	text-align: center;
}

.footer a {
	color: white;
}

.content {
	display: table-cell;
	background: #F4F4F4;
	color: gray;
	padding: 10px;
	margin: 15px;
	border: 1px solid #D0D0D0;
	font: 13px Arial;
}

.sidebar {
	display: table-cell;
	background: inherit;
	color: #5f5f5f;
	border: 2px solid #D0D0D0;
	font: 13px Arial;
	border-bottom: none;
	width: 20%;
	padding: 0px;
}

.sidebar-inset {
	color: gray;
	width: auto;
	text-align: justify;
	margin-left: 30px;
}

.sidebar-title {
	color: gray;
	width: auto;
	margin: 1px;
	font-weight: bold;
	padding-left: 10px;
}

.sidebar-inset a {
	color: gray;
	text-decoration: none;
}